In [33]:
import com.ibm.analytics.dsxCoreUtils._
val data = new DataUtil()
// pc context contains projectName, notebookName, authToken, repositoryIp
val pc = data.newProjectContext(sc, "new-notebook", "IDAA_AOT", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6ImRldnVzciIsInJvbGUiOiJzeXNhZG0iLCJ1aWQiOiI1MDAwIiwiaWF0IjoxNTg5NDEwMjczLCJleHAiOjE1ODk0NTcwNzN9.2z43Q4W2CsmPXDP2xwldFyb4pWyZtWAQ-_cQ9gljjTxJPOOIuLBx3fTseo0gYLYcx-51y8FRrXwJNsBB_NnEDRzC5F6AZwNLDTRyhrBZlP7UTuzPOONhzsP6HksRLGQMi8-bKHRUBJjWSbNReT1tqDTrLVA5CRalE_qwNEZKuDYwXjeICjfO4rvW1FqqR_RDA4lo-2ya_FteoUJyKUtvLCadCl4BAD3PUVKg7JtzAvqm0p9X0ZnxWkq1s1YjWuNJobyPa6mO6ATZVrXEQXoU1iIwGeh_2xmBuzo-w_Zcup-JgAtby4lKIxd5wEF6aVK0tV3r0m3IHU1kQqJ2Y4-D0g", "9.30.96.34")

// The projectName is the current project name
val projectName = pc.projectName

// The notebookName is the current notebook name
val notebookName = pc.nbName

// The authToken is the token generated by user management, which can access the backend service run
val authToken = pc.authToken

// The metaService is the backend service with https endpoint
val metaService = "https://" + pc.repositoryIp

data = com.ibm.analytics.dsxCoreUtils.DataUtil@28847c1e
pc = ProjectContext(org.apache.spark.SparkContext@2c503504,new-notebook,IDAA_AOT,Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6ImRldnVzciIsInJvbGUiOiJzeXNhZG0iLCJ1aWQiOiI1MDAwIiwiaWF0IjoxNTg5NDEwMjczLCJleHAiOjE1ODk0NTcwNzN9.2z43Q4W2CsmPXDP2xwldFyb4pWyZtWAQ-_cQ9gljjTxJPOOIuLBx3fTseo0gYLYcx-51y8FRrXwJNsBB_NnEDRzC5F6AZwNLDTRyhrBZlP7UTuzPOONhzsP6HksRLGQMi8-bKHRUBJjWSbNReT1tqDTrLVA5CRalE_qwNEZKuDYwXjeICjfO4rvW1FqqR_RDA4lo-2ya_FteoUJyKUtvLCadCl4BAD3PUVKg7JtzAvqm0p9X0ZnxWkq1s1YjWuNJobyPa6mO6ATZVrXEQXoU1iIwGeh_2xmBuzo-w_Zcup-JgAtby4lKIxd5wEF6aVK0tV3r0m3IHU1kQqJ2Y4-D0g,9.30.96.34)

projectName: String ...

ProjectContext(org.apache.spark.SparkContext@2c503504,new-notebook,IDAA_AOT,Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6ImRldnVzciIsInJvbGUiOiJzeXNhZG0iLCJ1aWQiOiI1MDAwIiwiaWF0IjoxNTg5NDEwMjczLCJleHAiOjE1ODk0NTcwNzN9.2z43Q4W2CsmPXDP2xwldFyb4pWyZtWAQ-_cQ9gljjTxJPOOIuLBx3fTseo0gYLYcx-51y8FRrXwJNsBB_NnEDRzC5F6AZwNLDTRyhrBZlP7UTuzPOONhzsP6HksRLGQMi8-bKHRUBJjWSbNReT1tqDTrLVA5CRalE_qwNEZKuDYwXjeICjfO4rvW1FqqR_RDA4lo-2ya_FteoUJyKUtvLCadCl4BAD3PUVKg7JtzAvqm0p9X0ZnxWkq1s1YjWuNJobyPa6mO6ATZVrXEQXoU1iIwGeh_2xmBuzo-w_Zcup-JgAtby4lKIxd5wEF6aVK0tV3r0m3IHU1kQqJ2Y4-D0g,9.30.96.34)

In [22]:
val db2_host = "9.30.128.37"; 
val ddf_port = "8010";   
val db2_location = "DB1B";  
val userid = "mlin";
val password = "xxxxx";

db2_host = 9.30.128.37
ddf_port = 8010
db2_location = DB1B
userid = mlin
password = dev2017

lastException: Throwable = null

dev2017

In [23]:
import java.sql.{Connection, DriverManager, ResultSet};
java.sql.DriverManager.registerDriver(new com.ibm.db2.jcc.DB2Driver);

val url = List("jdbc:db2://", db2_host, ":", ddf_port, "/", db2_location).mkString("");

val connection = java.sql.DriverManager.getConnection(url, userid, password)

url = jdbc:db2://9.30.128.37:8010/DB1B
connection = com.ibm.db2.jcc.t4.b@abbcad49

com.ibm.db2.jcc.t4.b@abbcad49

In [24]:
import org.apache.spark.sql.SQLContext
import java.util.Properties
val sqlContext = new SQLContext(sc)

sqlContext = org.apache.spark.sql.SQLContext@37798cdb

warning: there was one deprecation warning; re-run with -deprecation for details

org.apache.spark.sql.SQLContext@37798cdb

In [25]:
val connectionProperties = new Properties();
connectionProperties.put("user", userid);
connectionProperties.put("password", password);
connectionProperties.put("specialRegisters", "CURRENT QUERY ACCELERATION=ALL");
//connectionProperties.put("specialRegisters", "CURRENT ACCELERATOR=IDAANOD,CURRENT QUERY ACCELERATION=ALL");

connectionProperties = {specialRegisters=CURRENT QUERY ACCELERATION=ALL, user=mlin, password=dev2017}

res90: Object = null

{specialRegisters=CURRENT QUERY ACCELERATION=ALL, user=mlin, password=dev2017}

In [26]:
val df = spark.read.jdbc(url,
   "(SELECT AGE, ACTIVITY, STATE, SEX, NEGTWEETS FROM SA.CUST_SUM WHERE STATE ='CA' and SEX='F') as t",

// "(SELECT \"C_NAME\",\"O_ORDERSTATUS\" FROM \"TPCH30M_E\".\"ORDERS\" INNER JOIN \"TPCH30M_E\".\"CUSTOMER\" ON \"O_CUSTKEY\"=\"C_CUSTKEY\" WHERE \"O_ORDERSTATUS\"='F' ) as t",

   connectionProperties)

df.show()

+---+--------+-----+---+---------+
|AGE|ACTIVITY|STATE|SEX|NEGTWEETS|
+---+--------+-----+---+---------+
| 44|       1|   CA|  F|        4|
| 56|       3|   CA|  F|        4|
| 30|       3|   CA|  F|       13|
| 20|       0|   CA|  F|        7|
| 41|       1|   CA|  F|       14|
| 39|       1|   CA|  F|       14|
| 30|       2|   CA|  F|        5|
| 34|       1|   CA|  F|       11|
| 44|       1|   CA|  F|        2|
| 23|       1|   CA|  F|        5|
| 47|       5|   CA|  F|       10|
| 43|       1|   CA|  F|       10|
| 81|       5|   CA|  F|        4|
| 53|       3|   CA|  F|        3|
| 60|       1|   CA|  F|        6|
| 28|       0|   CA|  F|       14|
| 68|       0|   CA|  F|        9|
| 43|       3|   CA|  F|        4|
| 30|       2|   CA|  F|        9|
| 28|       2|   CA|  F|        6|
+---+--------+-----+---+---------+
only showing top 20 rows

df = [AGE: int, ACTIVITY: int ... 3 more fields]

[AGE: int, ACTIVITY: int ... 3 more fields]

In [30]:
val createstmt="CREATE TABLE MLIN.AOT2 (AGE VARCHAR(1024), ACTIVITY VARCHAR(1024), STATE VARCHAR(1024), SEX VARCHAR(1024), NEGTWEETS VARCHAR(1024)) IN ACCELERATOR IDAA3NOD CCSID UNICODE";
connection.createStatement.executeUpdate(createstmt)
 
//val dropstmt="DROP TABLE MLIN.AOT2";
//connection.createStatement.executeUpdate(dropstmt)

createstmt = CREATE TABLE MLIN.AOT2 (AGE VARCHAR(1024), ACTIVITY VARCHAR(1024), STATE VARCHAR(1024), SEX VARCHAR(1024), NEGTWEETS VARCHAR(1024)) IN ACCELERATOR IDAA3NOD CCSID UNICODE

lastException: Throwable = null

6

In [31]:
import org.apache.spark.SparkConf
import org.apache.spark.sql.{SaveMode, SparkSession}

df.write.mode("append")
  .format("jdbc")
  .option("url", "jdbc:db2://9.30.128.37:8010/DB1B")
  .option("dbtable", "MLIN.AOT2")
  .option("user", "mlin")
  .option("password", "dev2017")
  .save()
df.show()

+---+--------+-----+---+---------+
|AGE|ACTIVITY|STATE|SEX|NEGTWEETS|
+---+--------+-----+---+---------+
| 46|       1|   CA|  F|        4|
| 23|       4|   CA|  F|        3|
| 44|       1|   CA|  F|        4|
| 56|       3|   CA|  F|        4|
| 30|       3|   CA|  F|       13|
| 20|       0|   CA|  F|        7|
| 41|       1|   CA|  F|       14|
| 33|       4|   CA|  F|        4|
| 74|       2|   CA|  F|        2|
| 44|       1|   CA|  F|       11|
| 20|       2|   CA|  F|       15|
| 36|       1|   CA|  F|       14|
| 30|       2|   CA|  F|       10|
| 27|       2|   CA|  F|        3|
| 64|       2|   CA|  F|       10|
| 34|       0|   CA|  F|        6|
| 43|       3|   CA|  F|        4|
| 30|       2|   CA|  F|        9|
| 28|       2|   CA|  F|        6|
| 39|       2|   CA|  F|        3|
+---+--------+-----+---+---------+
only showing top 20 rows

In [32]:
//Select from an AOT table
val querystmt="SELECT * FROM MLIN.AOT2";
val result = connection.createStatement.executeQuery(querystmt)


while ( result.next() ) {
    val col1 = result.getString("AGE")
    val col2 = result.getString("ACTIVITY")
    val col3 = result.getString("STATE")
    val col4 = result.getString("SEX")
    val col5 = result.getString("NEGTWEETS")
    print(" AGE = " + col1)
    print(" ACTIVITY = " + col2)
    print(" STATE = " + col3)
    print(" SEX = " + col4)
    println(" NEGTWEETS = " + col5)
}

 AGE = 44 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 60 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 44 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 56 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 30 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 37 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 23 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 53 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 47 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 32 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 55 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 48 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 31 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 20 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 7
 AGE = 43 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 30 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 38 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 41 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 34 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 68 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 40 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 60 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 30 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 71 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 34 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 76 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 7
 AGE = 62 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 15
 AGE = 68 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 65 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 21 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 74 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 43 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 46 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 28 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 30 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 27 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 41 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 52 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 34 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 34 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 34 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 32 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 65 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 58 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 23 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 30 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 31 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 22 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 30 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 28 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 64 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 41 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 33 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 23 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 1
 AGE = 27 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 34 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 36 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 62 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 60 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 28 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 30 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 81 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 25 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 1
 AGE = 35 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 68 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 43 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 35 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 44 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 30 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 45 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 43 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 27 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 29 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 45 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 61 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 45 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 7
 AGE = 35 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 34 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 41 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 54 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 55 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 24 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 33 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 69 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 44 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 33 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 28 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 43 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 37 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 31 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 39 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 35 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 56 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 7
 AGE = 83 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 23 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 17
 AGE = 38 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 24 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 6
 AGE = 33 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 59 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 1
 AGE = 21 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 76 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 75 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 27 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 23 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 36 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 47 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 10
 AGE = 46 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 31 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 62 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 52 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 5
 AGE = 39 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 30 ACTIVITY = 5 STATE = CA SEX = F NEGTWEETS = 12
 AGE = 45 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 33 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 78 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 45 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 20 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 15
 AGE = 39 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 30 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 62 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 30 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 44 ACTIVITY = 3 STATE = CA SEX = F NEGTWEETS = 14
 AGE = 33 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 50 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 25 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 35 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 9
 AGE = 85 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 23 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 42 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 30 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 2
 AGE = 30 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 4
 AGE = 35 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 70 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 13
 AGE = 43 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 44 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 8
 AGE = 49 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 16
 AGE = 63 ACTIVITY = 1 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 57 ACTIVITY = 0 STATE = CA SEX = F NEGTWEETS = 11
 AGE = 50 ACTIVITY = 4 STATE = CA SEX = F NEGTWEETS = 3
 AGE = 34 ACTIVITY = 2 STATE = CA SEX = F NEGTWEETS = 3

querystmt = SELECT * FROM MLIN.AOT2
result = com.ibm.db2.jcc.t4.h@8379110c

com.ibm.db2.jcc.t4.h@8379110c