In [1]:
import com.ibm.analytics.dsxCoreUtils._
val data = new DataUtil()
// pc context contains projectName, notebookName, authToken, repositoryIp
val pc = data.newProjectContext(sc, "new-notebook", "nb", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6ImRldnVzciIsInJvbGUiOiJzeXNhZG0iLCJ1aWQiOiI1MDAwIiwiaWF0IjoxNTg5NDEwMjczLCJleHAiOjE1ODk0NTcwNzN9.2z43Q4W2CsmPXDP2xwldFyb4pWyZtWAQ-_cQ9gljjTxJPOOIuLBx3fTseo0gYLYcx-51y8FRrXwJNsBB_NnEDRzC5F6AZwNLDTRyhrBZlP7UTuzPOONhzsP6HksRLGQMi8-bKHRUBJjWSbNReT1tqDTrLVA5CRalE_qwNEZKuDYwXjeICjfO4rvW1FqqR_RDA4lo-2ya_FteoUJyKUtvLCadCl4BAD3PUVKg7JtzAvqm0p9X0ZnxWkq1s1YjWuNJobyPa6mO6ATZVrXEQXoU1iIwGeh_2xmBuzo-w_Zcup-JgAtby4lKIxd5wEF6aVK0tV3r0m3IHU1kQqJ2Y4-D0g", "9.30.96.34")

// The projectName is the current project name
val projectName = pc.projectName

// The notebookName is the current notebook name
val notebookName = pc.nbName

// The authToken is the token generated by user management, which can access the backend service run
val authToken = pc.authToken

// The metaService is the backend service with https endpoint
val metaService = "https://" + pc.repositoryIp

Waiting for a Spark session to start...

data = com.ibm.analytics.dsxCoreUtils.DataUtil@77169f4e
pc = ProjectContext(org.apache.spark.SparkContext@82fa750d,new-notebook,nb,Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6ImRldnVzciIsInJvbGUiOiJzeXNhZG0iLCJ1aWQiOiI1MDAwIiwiaWF0IjoxNTg5NDEwMjczLCJleHAiOjE1ODk0NTcwNzN9.2z43Q4W2CsmPXDP2xwldFyb4pWyZtWAQ-_cQ9gljjTxJPOOIuLBx3fTseo0gYLYcx-51y8FRrXwJNsBB_NnEDRzC5F6AZwNLDTRyhrBZlP7UTuzPOONhzsP6HksRLGQMi8-bKHRUBJjWSbNReT1tqDTrLVA5CRalE_qwNEZKuDYwXjeICjfO4rvW1FqqR_RDA4lo-2ya_FteoUJyKUtvLCadCl4BAD3PUVKg7JtzAvqm0p9X0ZnxWkq1s1YjWuNJobyPa6mO6ATZVrXEQXoU1iIwGeh_2xmBuzo-w_Zcup-JgAtby4lKIxd5wEF6aVK0tV3r0m3IHU1kQqJ2Y4-D0g,9.30.96.34)
projectName = new-...

new-...

In [14]:
val db2driver = "com.ibm.db2.jcc.DB2Driver";
val db2_host = "9.30.128.37"; 
val ddf_port = "8010";   
val db2_location = "DB1B";  
val userid = "mlin";
val password = "dev2017";

db2driver = com.ibm.db2.jcc.DB2Driver
db2_host = 9.30.128.37
ddf_port = 8010
db2_location = DB1B
userid = mlin
password = dev2017

lastException: Throwable = null

dev2017

In [15]:
import java.sql.{Connection, DriverManager, ResultSet};
java.sql.DriverManager.registerDriver(new com.ibm.db2.jcc.DB2Driver);

val url = List("jdbc:db2://", db2_host, ":", ddf_port, "/", db2_location).mkString("");

val connection = java.sql.DriverManager.getConnection(url, userid, password)

url = jdbc:db2://9.30.128.37:8010/DB1B
connection = com.ibm.db2.jcc.t4.b@66e96523

com.ibm.db2.jcc.t4.b@66e96523

In [16]:
import org.apache.spark.sql.SQLContext
import java.util.Properties
val sqlContext = new SQLContext(sc)

sqlContext = org.apache.spark.sql.SQLContext@bda45b57

warning: there was one deprecation warning; re-run with -deprecation for details

org.apache.spark.sql.SQLContext@bda45b57

In [18]:
val connectionProperties = new Properties();

connectionProperties.put("user", userid);
connectionProperties.put("password", password);

connectionProperties.put("specialRegisters", "CURRENT QUERY ACCELERATION=ALL");
//connectionProperties.put("specialRegisters", "CURRENT ACCELERATOR=IDAANOD,CURRENT QUERY ACCELERATION=ALL");

connectionProperties = {specialRegisters=CURRENT QUERY ACCELERATION=ALL, user=mlin, password=dev2017}

res82: Object = null

{specialRegisters=CURRENT QUERY ACCELERATION=ALL, user=mlin, password=dev2017}

In [6]:
val df = spark.read.jdbc(url,
   "(SELECT AGE, ACTIVITY, STATE, SEX, NEGTWEETS FROM SA.CUST_SUM WHERE STATE ='CA' and SEX='F') as t",

//   "(SELECT \"C_NAME\",\"O_ORDERSTATUS\" FROM \"TPCH30M_E\".\"ORDERS\" INNER JOIN \"TPCH30M_E\".\"CUSTOMER\" ON \"O_CUSTKEY\"=\"C_CUSTKEY\" WHERE \"O_ORDERSTATUS\"='F' ) as t",

   connectionProperties)

df.show()

+---+--------+-----+---+---------+
|AGE|ACTIVITY|STATE|SEX|NEGTWEETS|
+---+--------+-----+---+---------+
| 34|       1|   CA|  F|       11|
| 61|       2|   CA|  F|        3|
| 31|       2|   CA|  F|       10|
| 30|       3|   CA|  F|       11|
| 45|       1|   CA|  F|        7|
| 22|       3|   CA|  F|       14|
| 44|       3|   CA|  F|       14|
| 44|       1|   CA|  F|        2|
| 23|       1|   CA|  F|        5|
| 47|       5|   CA|  F|       10|
| 43|       1|   CA|  F|       10|
| 81|       5|   CA|  F|        4|
| 53|       3|   CA|  F|        3|
| 60|       1|   CA|  F|        6|
| 28|       0|   CA|  F|       14|
| 68|       0|   CA|  F|        9|
| 30|       4|   CA|  F|       11|
| 30|       1|   CA|  F|        2|
| 25|       2|   CA|  F|        1|
| 36|       3|   CA|  F|        2|
+---+--------+-----+---+---------+
only showing top 20 rows

df = [AGE: int, ACTIVITY: int ... 3 more fields]

[AGE: int, ACTIVITY: int ... 3 more fields]

In [39]:
val createstmt="CREATE TABLE MLIN.AOT2 (C1 VARCHAR(1024), C2 VARCHAR(1024), C3 VARCHAR(1024),C4 VARCHAR(1024),C5 VARCHAR(1024)) IN ACCELERATOR IDAA3NOD CCSID EBCDIC";
connection.createStatement.executeUpdate(createstmt)
 
//val dropstmt="DROP TABLE MLIN.AOT2";
//connection.createStatement.executeUpdate(dropstmt)

createstmt = CREATE TABLE MLIN.AOT2 (C1 VARCHAR(1024), C2 VARCHAR(1024), C3 VARCHAR(1024),C4 VARCHAR(1024),C5 VARCHAR(1024)) IN ACCELERATOR IDAA3NOD CCSID EBCDIC

6

In [45]:
val df = spark.read.format("csv").option("header", "false").load("/mlzdata/devusr-iml-home/imlhome/tmp/STofCA.csv").toDF("C1","C2","C3","C4","C5")
df.show()

+---+---+---+---+---+
| C1| C2| C3| C4| C5|
+---+---+---+---+---+
| 44|  1| CA|  F|  2|
| 23|  1| CA|  F|  5|
| 78|  0| CA|  F|  4|
| 50|  4| CA|  F|  3|
| 74|  2| CA|  F|  2|
| 43|  3| CA|  F|  4|
| 52|  0| CA|  F|  5|
| 44|  1| CA|  F|  4|
| 36|  3| CA|  F|  2|
| 62|  4| CA|  F|  3|
| 33|  3| CA|  F|  8|
| 33|  2| CA|  F|  3|
| 47|  5| CA|  F| 10|
| 45|  3| CA|  F|  2|
| 65|  3| CA|  F|  2|
| 24|  0| CA|  F| 10|
| 37|  0| CA|  F| 12|
| 45|  1| CA|  F| 14|
| 31|  0| CA|  F| 11|
| 43|  1| CA|  F| 10|
+---+---+---+---+---+
only showing top 20 rows

df = [C1: string, C2: string ... 3 more fields]

[C1: string, C2: string ... 3 more fields]

In [47]:
import org.apache.spark.SparkConf
import org.apache.spark.sql.{SaveMode, SparkSession}

df.write.mode(SaveMode.Overwrite)
  .format("jdbc")
  .option("url", "jdbc:db2://9.30.128.37:8010/DB1B")
  .option("dbtable", "MLIN.AOT2")
  .option("user", "mlin")
  .option("password", "dev2017")
  .save()
df.show()

+---+---+---+---+---+
| C1| C2| C3| C4| C5|
+---+---+---+---+---+
| 44|  1| CA|  F|  2|
| 23|  1| CA|  F|  5|
| 78|  0| CA|  F|  4|
| 50|  4| CA|  F|  3|
| 74|  2| CA|  F|  2|
| 43|  3| CA|  F|  4|
| 52|  0| CA|  F|  5|
| 44|  1| CA|  F|  4|
| 36|  3| CA|  F|  2|
| 62|  4| CA|  F|  3|
| 33|  3| CA|  F|  8|
| 33|  2| CA|  F|  3|
| 47|  5| CA|  F| 10|
| 45|  3| CA|  F|  2|
| 65|  3| CA|  F|  2|
| 24|  0| CA|  F| 10|
| 37|  0| CA|  F| 12|
| 45|  1| CA|  F| 14|
| 31|  0| CA|  F| 11|
| 43|  1| CA|  F| 10|
+---+---+---+---+---+
only showing top 20 rows

In [48]:
//val queryacc = "SELECT \"O_ORDERKEY\" FROM \"TPCH30M_E\".\"ORDERS\"";
//Select from an AOT table
val querystmt="SELECT * FROM MLIN.AOT2";
val result = connection.createStatement.executeQuery(querystmt)


while ( result.next() ) {
    val col1 = result.getString("C1")
    val col2 = result.getString("C2")
    val col3 = result.getString("C3")
    val col4 = result.getString("C4")
    val col5 = result.getString("C5")
    print(" C1 = " + col1)
    print(" C2 = " + col2)
    print(" C3 = " + col3)
    print(" C4 = " + col4)
    println(" C5 = " + col5)
}

 C1 = 44 C2 = 1 C3 = CA C4 = F C5 = 2
 C1 = 23 C2 = 1 C3 = CA C4 = F C5 = 5
 C1 = 78 C2 = 0 C3 = CA C4 = F C5 = 4
 C1 = 50 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 74 C2 = 2 C3 = CA C4 = F C5 = 2
 C1 = 43 C2 = 3 C3 = CA C4 = F C5 = 4
 C1 = 52 C2 = 0 C3 = CA C4 = F C5 = 5
 C1 = 44 C2 = 1 C3 = CA C4 = F C5 = 4
 C1 = 36 C2 = 3 C3 = CA C4 = F C5 = 2
 C1 = 62 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 33 C2 = 3 C3 = CA C4 = F C5 = 8
 C1 = 33 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 47 C2 = 5 C3 = CA C4 = F C5 = 10
 C1 = 45 C2 = 3 C3 = CA C4 = F C5 = 2
 C1 = 65 C2 = 3 C3 = CA C4 = F C5 = 2
 C1 = 24 C2 = 0 C3 = CA C4 = F C5 = 10
 C1 = 37 C2 = 0 C3 = CA C4 = F C5 = 12
 C1 = 45 C2 = 1 C3 = CA C4 = F C5 = 14
 C1 = 31 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 43 C2 = 1 C3 = CA C4 = F C5 = 10
 C1 = 39 C2 = 2 C3 = CA C4 = F C5 = 9
 C1 = 46 C2 = 2 C3 = CA C4 = F C5 = 2
 C1 = 31 C2 = 2 C3 = CA C4 = F C5 = 13
 C1 = 61 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 40 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 45 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 41 C2 = 4 C3 = CA C4 = F C5 = 4
 C1 = 63 C2 = 1 C3 = CA C4 = F C5 = 11
 C1 = 43 C2 = 3 C3 = CA C4 = F C5 = 11
 C1 = 30 C2 = 2 C3 = CA C4 = F C5 = 9
 C1 = 35 C2 = 0 C3 = CA C4 = F C5 = 9
 C1 = 23 C2 = 1 C3 = CA C4 = F C5 = 10
 C1 = 83 C2 = 3 C3 = CA C4 = F C5 = 3
 C1 = 62 C2 = 2 C3 = CA C4 = F C5 = 15
 C1 = 23 C2 = 3 C3 = CA C4 = F C5 = 1
 C1 = 62 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 44 C2 = 1 C3 = CA C4 = F C5 = 11
 C1 = 35 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 30 C2 = 5 C3 = CA C4 = F C5 = 12
 C1 = 20 C2 = 2 C3 = CA C4 = F C5 = 15
 C1 = 32 C2 = 1 C3 = CA C4 = F C5 = 12
 C1 = 30 C2 = 0 C3 = CA C4 = F C5 = 9
 C1 = 25 C2 = 2 C3 = CA C4 = F C5 = 9
 C1 = 55 C2 = 1 C3 = CA C4 = F C5 = 5
 C1 = 44 C2 = 1 C3 = CA C4 = F C5 = 8
 C1 = 70 C2 = 1 C3 = CA C4 = F C5 = 13
 C1 = 35 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 30 C2 = 4 C3 = CA C4 = F C5 = 2
 C1 = 31 C2 = 2 C3 = CA C4 = F C5 = 10
 C1 = 42 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 56 C2 = 5 C3 = CA C4 = F C5 = 7
 C1 = 36 C2 = 1 C3 = CA C4 = F C5 = 14
 C1 = 33 C2 = 1 C3 = CA C4 = F C5 = 9
 C1 = 41 C2 = 1 C3 = CA C4 = F C5 = 3
 C1 = 30 C2 = 2 C3 = CA C4 = F C5 = 10
 C1 = 35 C2 = 1 C3 = CA C4 = F C5 = 13
 C1 = 28 C2 = 2 C3 = CA C4 = F C5 = 6
 C1 = 39 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 38 C2 = 1 C3 = CA C4 = F C5 = 11
 C1 = 69 C2 = 2 C3 = CA C4 = F C5 = 9
 C1 = 81 C2 = 5 C3 = CA C4 = F C5 = 4
 C1 = 44 C2 = 1 C3 = CA C4 = F C5 = 8
 C1 = 30 C2 = 3 C3 = CA C4 = F C5 = 11
 C1 = 38 C2 = 1 C3 = CA C4 = F C5 = 11
 C1 = 60 C2 = 1 C3 = CA C4 = F C5 = 2
 C1 = 50 C2 = 1 C3 = CA C4 = F C5 = 3
 C1 = 34 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 48 C2 = 1 C3 = CA C4 = F C5 = 4
 C1 = 30 C2 = 2 C3 = CA C4 = F C5 = 10
 C1 = 75 C2 = 2 C3 = CA C4 = F C5 = 2
 C1 = 37 C2 = 0 C3 = CA C4 = F C5 = 12
 C1 = 34 C2 = 1 C3 = CA C4 = F C5 = 14
 C1 = 47 C2 = 2 C3 = CA C4 = F C5 = 2
 C1 = 45 C2 = 1 C3 = CA C4 = F C5 = 9
 C1 = 32 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 27 C2 = 4 C3 = CA C4 = F C5 = 8
 C1 = 56 C2 = 3 C3 = CA C4 = F C5 = 4
 C1 = 30 C2 = 4 C3 = CA C4 = F C5 = 11
 C1 = 45 C2 = 1 C3 = CA C4 = F C5 = 7
 C1 = 55 C2 = 3 C3 = CA C4 = F C5 = 6
 C1 = 65 C2 = 5 C3 = CA C4 = F C5 = 11
 C1 = 22 C2 = 3 C3 = CA C4 = F C5 = 14
 C1 = 53 C2 = 3 C3 = CA C4 = F C5 = 3
 C1 = 23 C2 = 0 C3 = CA C4 = F C5 = 17
 C1 = 30 C2 = 1 C3 = CA C4 = F C5 = 2
 C1 = 35 C2 = 3 C3 = CA C4 = F C5 = 4
 C1 = 43 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 34 C2 = 0 C3 = CA C4 = F C5 = 10
 C1 = 49 C2 = 1 C3 = CA C4 = F C5 = 16
 C1 = 30 C2 = 4 C3 = CA C4 = F C5 = 4
 C1 = 29 C2 = 1 C3 = CA C4 = F C5 = 12
 C1 = 27 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 34 C2 = 2 C3 = CA C4 = F C5 = 3
 C1 = 21 C2 = 2 C3 = CA C4 = F C5 = 6
 C1 = 30 C2 = 3 C3 = CA C4 = F C5 = 13
 C1 = 60 C2 = 1 C3 = CA C4 = F C5 = 6
 C1 = 23 C2 = 4 C3 = CA C4 = F C5 = 13
 C1 = 62 C2 = 0 C3 = CA C4 = F C5 = 4
 C1 = 34 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 52 C2 = 2 C3 = CA C4 = F C5 = 9
 C1 = 27 C2 = 2 C3 = CA C4 = F C5 = 5
 C1 = 27 C2 = 2 C3 = CA C4 = F C5 = 13
 C1 = 58 C2 = 4 C3 = CA C4 = F C5 = 2
 C1 = 71 C2 = 0 C3 = CA C4 = F C5 = 6
 C1 = 43 C2 = 0 C3 = CA C4 = F C5 = 8
 C1 = 76 C2 = 2 C3 = CA C4 = F C5 = 7
 C1 = 64 C2 = 2 C3 = CA C4 = F C5 = 10
 C1 = 41 C2 = 1 C3 = CA C4 = F C5 = 12
 C1 = 28 C2 = 1 C3 = CA C4 = F C5 = 10
 C1 = 33 C2 = 1 C3 = CA C4 = F C5 = 4
 C1 = 28 C2 = 1 C3 = CA C4 = F C5 = 10
 C1 = 20 C2 = 0 C3 = CA C4 = F C5 = 7
 C1 = 34 C2 = 1 C3 = CA C4 = F C5 = 5
 C1 = 57 C2 = 0 C3 = CA C4 = F C5 = 11
 C1 = 43 C2 = 0 C3 = CA C4 = F C5 = 3
 C1 = 34 C2 = 0 C3 = CA C4 = F C5 = 6
 C1 = 85 C2 = 4 C3 = CA C4 = F C5 = 2
 C1 = 76 C2 = 2 C3 = CA C4 = F C5 = 5
 C1 = 33 C2 = 5 C3 = CA C4 = F C5 = 2
 C1 = 28 C2 = 0 C3 = CA C4 = F C5 = 14
 C1 = 24 C2 = 2 C3 = CA C4 = F C5 = 6
 C1 = 44 C2 = 3 C3 = CA C4 = F C5 = 14
 C1 = 59 C2 = 2 C3 = CA C4 = F C5 = 1
 C1 = 68 C2 = 2 C3 = CA C4 = F C5 = 11
 C1 = 68 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 35 C2 = 1 C3 = CA C4 = F C5 = 6
 C1 = 68 C2 = 0 C3 = CA C4 = F C5 = 9
 C1 = 41 C2 = 1 C3 = CA C4 = F C5 = 14
 C1 = 60 C2 = 3 C3 = CA C4 = F C5 = 9
 C1 = 33 C2 = 4 C3 = CA C4 = F C5 = 4
 C1 = 30 C2 = 2 C3 = CA C4 = F C5 = 5
 C1 = 46 C2 = 1 C3 = CA C4 = F C5 = 4
 C1 = 31 C2 = 0 C3 = CA C4 = F C5 = 8
 C1 = 23 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 54 C2 = 3 C3 = CA C4 = F C5 = 2
 C1 = 21 C2 = 3 C3 = CA C4 = F C5 = 10
 C1 = 39 C2 = 1 C3 = CA C4 = F C5 = 14
 C1 = 30 C2 = 4 C3 = CA C4 = F C5 = 3
 C1 = 34 C2 = 1 C3 = CA C4 = F C5 = 11
 C1 = 25 C2 = 2 C3 = CA C4 = F C5 = 1

querystmt = SELECT * FROM MLIN.AOT2
result = com.ibm.db2.jcc.t4.h@a851bac

com.ibm.db2.jcc.t4.h@a851bac

In [2]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._ 

//Load data from DB2 for z/OS using JDBC driver
val DataRaw = spark.read.format("jdbc").
                        options(Map("driver" -> "com.ibm.db2.jcc.DB2Driver",
                         "url" -> "jdbc:db2://9.30.128.37:8010/DB1B", 
                         "user" -> "mlzfvt","password" -> "whoopi", 
                         "dbtable" -> "(SELECT AGE, ACTIVITY, STATE, SEX, NEGTWEETS FROM SA.CUST_SUM WHERE STATE ='CA' and SEX='F') T")).load()

DataRaw.show(5)

Waiting for a Spark session to start...

+---+--------+-----+---+---------+
|AGE|ACTIVITY|STATE|SEX|NEGTWEETS|
+---+--------+-----+---+---------+
| 44|       1|   CA|  F|        2|
| 23|       1|   CA|  F|        5|
| 78|       0|   CA|  F|        4|
| 50|       4|   CA|  F|        3|
| 74|       2|   CA|  F|        2|
+---+--------+-----+---+---------+
only showing top 5 rows

DataRaw = [AGE: int, ACTIVITY: int ... 3 more fields]

[AGE: int, ACTIVITY: int ... 3 more fields]

In [10]:
DataRaw.write.csv("/mlzdata/devusr-iml-home/imlhome/tmp/STofCA.csv")

Name: org.apache.spark.sql.AnalysisException
Message: path file:/mlzdata/devusr-iml-home/imlhome/tmp/STofCA.csv already exists.;
StackTrace:   at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:114)
  at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
  at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
  at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
  at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
  at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
  at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
  at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
  at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
  at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
  at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:80)
  at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:80)
  at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
  at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
  at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
  at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
  at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
  at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
  at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
  at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
  at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
  at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:664)

In [13]:
val df = spark.read.csv("/mlzdata/devusr-iml-home/imlhome/tmp/STofCA.csv")
df.createOrReplaceTempView("churnTable")

val sqlDF1 = spark.sql("SELECT * FROM churnTable")
sqlDF1.show()

val sqlDF2 = spark.sql("SELECT _c0 FROM churnTable")
sqlDF2.show()

+---+---+---+---+---+
|_c0|_c1|_c2|_c3|_c4|
+---+---+---+---+---+
| 44|  1| CA|  F|  2|
| 23|  1| CA|  F|  5|
| 78|  0| CA|  F|  4|
| 50|  4| CA|  F|  3|
| 74|  2| CA|  F|  2|
| 43|  3| CA|  F|  4|
| 52|  0| CA|  F|  5|
| 44|  1| CA|  F|  4|
| 36|  3| CA|  F|  2|
| 62|  4| CA|  F|  3|
| 33|  3| CA|  F|  8|
| 33|  2| CA|  F|  3|
| 47|  5| CA|  F| 10|
| 45|  3| CA|  F|  2|
| 65|  3| CA|  F|  2|
| 24|  0| CA|  F| 10|
| 37|  0| CA|  F| 12|
| 45|  1| CA|  F| 14|
| 31|  0| CA|  F| 11|
| 43|  1| CA|  F| 10|
+---+---+---+---+---+
only showing top 20 rows

+---+
|_c0|
+---+
| 44|
| 23|
| 78|
| 50|
| 74|
| 43|
| 52|
| 44|
| 36|
| 62|
| 33|
| 33|
| 47|
| 45|
| 65|
| 24|
| 37|
| 45|
| 31|
| 43|
+---+
only showing top 20 rows

df = [_c0: string, _c1: string ... 3 more fields]
sqlDF1 = [_c0: string, _c1: string ... 3 more fields]
sqlDF2 = [_c0: string]

[_c0: string]

In [23]:
import org.apache.spark.SparkConf
import org.apache.spark.sql.{SaveMode, SparkSession}

val df2 = spark.read.csv("/mlzdata/devusr-iml-home/imlhome/tmp/STofCA.csv")
df2.write.mode(SaveMode.Overwrite)
  .format("jdbc")
  .option("url", "jdbc:db2://9.30.128.37:8010/DB1B")
  .option("dbtable", "MLIN.STOFCA")
  .option("user", "mlin")
  .option("password", "dev2017")
  .save()

df2 = [_c0: string, _c1: string ... 3 more fields]

[_c0: string, _c1: string ... 3 more fields]

In [8]:
val df3 = spark.read.format("jdbc").
                        options(Map("driver" -> "com.ibm.db2.jcc.DB2Driver",
                         "url" -> "jdbc:db2://9.30.128.37:8010/DB1B:specialRegisters=CURRENT QUERY ACCELERATION=ALL;", 
                         "user" -> "mlzfvt","password" -> "whoopi", 
                         "dbtable" -> "(SELECT * FROM MLIN.STOFCA) T")).load()

df3.show()

Name: org.apache.spark.SparkException
Message: Job aborted due to stage failure: Task 0 in stage 29.0 failed 4 times, most recent failure: Lost task 0.3 in stage 29.0 (TID 32, 9.30.128.37, executor 0): com.ibm.db2.jcc.am.SqlException: DB2 SQL Error: SQLCODE=-4742, SQLSTATE=560D5, SQLERRMC=25, DRIVER=4.25.13
	at com.ibm.db2.jcc.am.b6.a(b6.java:815)
	at com.ibm.db2.jcc.am.b6.a(b6.java:66)
	at com.ibm.db2.jcc.am.b6.a(b6.java:140)
	at com.ibm.db2.jcc.am.k3.c(k3.java:2824)
	at com.ibm.db2.jcc.am.k3.d(k3.java:2808)
	at com.ibm.db2.jcc.am.k3.a(k3.java:2234)
	at com.ibm.db2.jcc.am.k4.a(k4.java:8242)
	at com.ibm.db2.jcc.am.k3.a(k3.java:2210)
	at com.ibm.db2.jcc.t4.ab.i(ab.java:201)
	at com.ibm.db2.jcc.t4.ab.b(ab.java:96)
	at com.ibm.db2.jcc.t4.p.a(p.java:32)
	at com.ibm.db2.jcc.t4.av.i(av.java:150)
	at com.ibm.db2.jcc.am.k3.al(k3.java:2203)
	at com.ibm.db2.jcc.am.k4.bq(k4.java:3730)
	at com.ibm.db2.jcc.am.k4.a(k4.java:4609)
	at com.ibm.db2.jcc.am.k4.b(k4.java:4182)
	at com.ibm.db2.jcc.am.k4.bd(k4.java:780)
	at com.ibm.db2.jcc.am.k4.executeQuery(k4.java:745)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD.compute(JDBCRDD.scala:304)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1459)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1160)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.lang.Thread.run(Thread.java:812)

Driver stacktrace:
StackTrace: 	at com.ibm.db2.jcc.am.b6.a(b6.java:815)
	at com.ibm.db2.jcc.am.b6.a(b6.java:66)
	at com.ibm.db2.jcc.am.b6.a(b6.java:140)
	at com.ibm.db2.jcc.am.k3.c(k3.java:2824)
	at com.ibm.db2.jcc.am.k3.d(k3.java:2808)
	at com.ibm.db2.jcc.am.k3.a(k3.java:2234)
	at com.ibm.db2.jcc.am.k4.a(k4.java:8242)
	at com.ibm.db2.jcc.am.k3.a(k3.java:2210)
	at com.ibm.db2.jcc.t4.ab.i(ab.java:201)
	at com.ibm.db2.jcc.t4.ab.b(ab.java:96)
	at com.ibm.db2.jcc.t4.p.a(p.java:32)
	at com.ibm.db2.jcc.t4.av.i(av.java:150)
	at com.ibm.db2.jcc.am.k3.al(k3.java:2203)
	at com.ibm.db2.jcc.am.k4.bq(k4.java:3730)
	at com.ibm.db2.jcc.am.k4.a(k4.java:4609)
	at com.ibm.db2.jcc.am.k4.b(k4.java:4182)
	at com.ibm.db2.jcc.am.k4.bd(k4.java:780)
	at com.ibm.db2.jcc.am.k4.executeQuery(k4.java:745)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD.compute(JDBCRDD.scala:304)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:123)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1459)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1160)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:635)
	at java.lang.Thread.run(Thread.java:812)
Driver stacktrace:
  at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
  at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
  at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
  at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
  at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
  at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
  at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
  at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
  at scala.Option.foreach(Option.scala:257)
  at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
  at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
  at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
  at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
  at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
  at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
  at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
  at org.apache.spark.SparkContext.runJob(SparkContext.scala:2082)
  at org.apache.spark.SparkContext.runJob(SparkContext.scala:2101)
  at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:365)
  at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
  at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3389)
  at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
  at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2550)
  at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3370)
  at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
  at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
  at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
  at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3369)
  at org.apache.spark.sql.Dataset.head(Dataset.scala:2550)
  at org.apache.spark.sql.Dataset.take(Dataset.scala:2764)
  at org.apache.spark.sql.Dataset.getRows(Dataset.scala:254)
  at org.apache.spark.sql.Dataset.showString(Dataset.scala:291)
  at org.apache.spark.sql.Dataset.show(Dataset.scala:751)
  at org.apache.spark.sql.Dataset.show(Dataset.scala:710)
  at org.apache.spark.sql.Dataset.show(Dataset.scala:719)
  ... 50 elided
Caused by: com.ibm.db2.jcc.am.SqlException: DB2 SQL Error: SQLCODE=-4742, SQLSTATE=560D5, SQLERRMC=25, DRIVER=4.25.13
  at com.ibm.db2.jcc.am.b6.a(b6.java:815)
  at com.ibm.db2.jcc.am.b6.a(b6.java:66)
  at com.ibm.db2.jcc.am.b6.a(b6.java:140)
  at com.ibm.db2.jcc.am.k3.c(k3.java:2824)
  at com.ibm.db2.jcc.am.k3.d(k3.java:2808)
  at com.ibm.db2.jcc.am.k3.a(k3.java:2234)
  at com.ibm.db2.jcc.am.k4.a(k4.java:8242)
  at com.ibm.db2.jcc.am.k3.a(k3.java:2210)
  at com.ibm.db2.jcc.t4.ab.i(ab.java:201)
  at com.ibm.db2.jcc.t4.ab.b(ab.java:96)
  at com.ibm.db2.jcc.t4.p.a(p.java:32)
  at com.ibm.db2.jcc.t4.av.i(av.java:150)
  at com.ibm.db2.jcc.am.k3.al(k3.java:2203)
  at com.ibm.db2.jcc.am.k4.bq(k4.java:3730)
  at com.ibm.db2.jcc.am.k4.a(k4.java:4609)
  at com.ibm.db2.jcc.am.k4.b(k4.java:4182)
  at com.ibm.db2.jcc.am.k4.bd(k4.java:780)
  at com.ibm.db2.jcc.am.k4.executeQuery(k4.java:745)
  at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD.compute(JDBCRDD.scala:304)
  at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
  at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
  at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
  at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
  at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
  at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
  at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
  at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
  at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
  at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
  at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
  at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
  at org.apache.spark.scheduler.Task.run(Task.scala:123)
  at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
  at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1459)
  at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)

In [13]:
spark.read.format("jdbc").
        options(Map("driver" -> "com.ibm.db2.jcc.DB2Driver",
                    "url" -> "jdbc:db2://9.30.128.37:8010/DB1B:specialRegisters=CURRENT QUERY ACCELERATION=ALL;", 
                    "user" -> "mlzfvt","password" -> "whoopi", 
                    "dbtable" -> "(CREATE TABLE MLIN.AOT2 (C1 INT) IN ACCELERATOR IDAA3NOD) T")).load()

lastException = null

Name: com.ibm.db2.jcc.am.SqlSyntaxErrorException
Message: DB2 SQL Error: SQLCODE=-104, SQLSTATE=42601, SQLERRMC=MLIN;JOIN CROSS INNER LEFT RIGHT FULL (, DRIVER=4.25.13
StackTrace:   at com.ibm.db2.jcc.am.b6.a(b6.java:810)
  at com.ibm.db2.jcc.am.b6.a(b6.java:66)
  at com.ibm.db2.jcc.am.b6.a(b6.java:140)
  at com.ibm.db2.jcc.am.k3.c(k3.java:2824)
  at com.ibm.db2.jcc.am.k3.d(k3.java:2808)
  at com.ibm.db2.jcc.am.k3.a(k3.java:2234)
  at com.ibm.db2.jcc.am.k4.a(k4.java:8242)
  at com.ibm.db2.jcc.am.k3.a(k3.java:2210)
  at com.ibm.db2.jcc.t4.ab.i(ab.java:201)
  at com.ibm.db2.jcc.t4.ab.b(ab.java:96)
  at com.ibm.db2.jcc.t4.p.a(p.java:32)
  at com.ibm.db2.jcc.t4.av.i(av.java:150)
  at com.ibm.db2.jcc.am.k3.al(k3.java:2203)
  at com.ibm.db2.jcc.am.k4.bq(k4.java:3730)
  at com.ibm.db2.jcc.am.k4.a(k4.java:4609)
  at com.ibm.db2.jcc.am.k4.b(k4.java:4182)
  at com.ibm.db2.jcc.am.k4.bd(k4.java:780)
  at com.ibm.db2.jcc.am.k4.executeQuery(k4.java:745)
  at org.apache.spark.sql.execution.datasources.jdbc.JDBCRDD$.resolveTable(JDBCRDD.scala:61)
  at org.apache.spark.sql.execution.datasources.jdbc.JDBCRelation$.getSchema(JDBCRelation.scala:210)
  at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:35)
  at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:318)
  at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
  at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
  at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:167)

Name: Compile Error
Message: <console>:33: error: not found: value ls
       !ls -al
        ^
<console>:33: error: not found: value al
       !ls -al
            ^

StackTrace: